
.footerStyl {
  background: #0486c1;
  color: white;
  font-size: 18px;
  padding: 1vh;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.iconsStyles {
  /* margin-top: 29vh; */
  margin-left: 175vh;
  margin-top: 25vh;
}

.movingStyle {
  padding-right: 1vh;
}
