<div class="bgImage">

  <form class="bgStyl">
  <img src="../../assets/Logo.png" class="logo">
  <div class="welcomeStyl">WELCOME</div>
  <div class="helloStyle">
    Hello there! Sign in to manage your fleet from anywhere.
  </div>
    <div class="userStyl">
        <input type="text" placeholder="Login Id">
    </div>
    <div class="passwdStyl">
        <input type="password" placeholder="Password">
    </div>

    <div class="forgtPasswd">
      Forgot Password?
    </div>

    <button class="btn btn-primary">Sign In</button>

    <div class="footer">
      <span class="register">Don't have an account?</span>
      <span class="getStart">GET STARTED</span>
    </div>

  </form>

</div>

