.searchStyl {
border: 0;
outline: 0;
background: transparent;
border-bottom: 1px solid transparent;
margin-left: 1vh;
font-family: Arial, Helvetica, sans-serif;
color: blue;
}

.fa {
  color: blue;
  transform: rotate(90deg);
}

::placeholder {
  color:#2196F3;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.positionStyl {
  margin-top: 2vh;
  margin-left: 2vh;
}

.listStyl {
  color: rgba(0, 0, 0, 0.6);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-bottom: 1vh;
}

.listPos {
  margin-left: 2vh;
  padding: 2vh;
  margin-top: -27vh;
}

.listCount {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.vl {
  border-left: 1px solid grey;
  height: 70vh;
  position: absolute;
  margin-left: 55vh;
  margin-top: -70vh;
}

.addrStyl {
  text-overflow: ellipsis;
  white-space: initial;
  width: 51vh;
}

.busNo {
  color: #2196F3;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2vh;
  font-size: 14px;
  margin-left: 2vh;
  font-weight: 500;
}

.addrStyle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 2vh;
}




.movingStyl {
  position: absolute;
  margin-left: 40vh;
  margin-top: -8vh;

}

.logoStyl {
  width: 4vh;
  border-radius: 50%;
}
.logotitle {
  margin-top: 1vh;
  margin-left: -1vh;
}

.city {
  margin-left: 2vh;
}

a {
  margin-left: 2vh;
}

.lineStyl {
  margin-top: 1vh;
  border: 1px solid grey;
  width: 53vh;
}

.searchIcon {
  width: 3vh;
  margin-top: -1vh;
}

agm-map  {
  height: 515px;
}

.positionMap {
  margin-left: 53vh;
  margin-top: -6vh;
}

.busTrack {
  margin-top: -62vh;
}
